.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  border: 1px solid black;
  border-radius: 14px;
  margin: 0 auto;
}
.center-button {
  display: flex;
  justify-content: center;
}
.center-item {
  display: flex;
  justify-content: center;
}
